/* HEADER */
@import "./Character.css";
@import "./Comics.css";
@import "./Favoris.css";

.container {
  max-width: 1300px;
  margin: 0px auto;
}

header {
  background-color: white;
  padding: 30px 0px;
  width: 100vw;
  position: fixed;
  border-bottom: 0.1px solid rgb(216, 208, 208);
  z-index: 2;
}

header img {
  height: 100px;
  border-radius: 5px;
}

header > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header > div > div > div {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

header > div > div button {
  padding: 5px;
  border-radius: 5px;
  width: 100px;
  border: none;
  padding: 10px;
  border: 0.1px solid red;
}

.color-button-white {
  background-color: white;
  color: red;
}

.color-button-red {
  background-color: red;
  color: white;
}

header input {
  margin-top: 20px;
  width: 500px;
  height: 30px;
  border: none;
  background-color: rgb(242, 234, 234);
  border-radius: 5px;
  padding: 20px;
  outline: none;
}

.page {
  width: fit-content;
  display: flex;
  align-items: center;
  background-color: red;
  padding-left: 10px;
  border-radius: 5px;
  color: white;
}

.page > button {
  display: flex;
  align-items: center;
  height: 30px;
  width: fit-content;
  background-color: white;
  color: red;
  border: 0.1px solid black;
  margin: 5px;
  font-weight: bold;
  font-size: 20px;
}

.visible {
  display: visible;
}

.unvisible {
  visibility: hidden;
}

.color-red {
  color: red;
}

.color-grey {
  color: grey;
}

h2 {
  color: white;
  font-size: 40px;
  font-weight: bold;
}
