/* HEADER */

.container {
  max-width: 1300px;
  margin: 0px auto;
}

header {
  background-color: white;
  padding: 30px 0px;
  width: 100vw;
  position: fixed;
  border-bottom: 0.1px solid rgb(216, 208, 208);
}

header img {
  height: 100px;
  border-radius: 5px;
}

header > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header > div > div > div {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

header > div > div button {
  padding: 5px;
  border-radius: 5px;
  width: 100px;
  border: none;
  padding: 10px;
  border: 0.1px solid red;
}

.color-button-white {
  background-color: white;
  color: red;
}

.color-button-red {
  background-color: red;
  color: white;
}

header input {
  margin-top: 20px;
  width: 500px;
  height: 30px;
  border: none;
  background-color: rgb(242, 234, 234);
  border-radius: 5px;
  padding: 20px;
  outline: none;
}

.page {
  width: fit-content;
  display: flex;
  align-items: center;
  background-color: red;
  padding-left: 10px;
  border-radius: 5px;
  color: white;
}

.page > button {
  display: flex;
  align-items: center;
  height: 30px;
  width: fit-content;
  background-color: white;
  color: red;
  border: 0.1px solid black;
  margin: 5px;
  font-weight: bold;
}

.visible {
  display: visible;
}

.unvisible {
  visibility: hidden;
}

.color-red {
  color: red;
}

.color-grey {
  color: grey;
}

/* CHARACTERS */

h2 {
  color: white;
  font-size: 40px;
  font-weight: bold;
}
.characters-page {
  /* height: calc(100vh-200px); */
  background-color: black;
  padding-bottom: 80px;
}

.character-title {
  padding: 200px 0px 50px 0px;
}
.character-title h1 {
  color: white;
  font-size: 40px;
  text-align: center;
}

.list-characters {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
}

.character {
  display: flex;
  width: 600px;
  gap: 20px;
  border-radius: 10px;
  border-left: 5px solid red;
  border-top: 5px solid red;
  padding-top: 30px;
  padding-left: 30px;
}

.character img {
  border-radius: 5px;
}

.character p {
  color: white;
}

.character-page p {
  color: white;
}

.character > div > p:nth-child(1) {
  height: 20%;
  font-size: 20px;
  font-weight: bold;
}

.character > div > p:nth-child(2) {
  height: 10%;
  font-size: 20px;
  font-style: italic;
}

.character > div > p:nth-child(3) {
  text-align: justify;
}

.col-right {
  position: relative;
}

.favoris {
  position: absolute;
  height: 30px;
  width: 30px;
  background-color: white;
  bottom: 0px;
  left: 0px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
}

/* CHARACTER DETAIL */

.character-page {
  padding: 200px 0px 50px 0px;
  background-color: black;
  height: 100vh;
}

.character-detail {
  display: flex;
  gap: 50px;
  border-radius: 10px;
  border-top: 5px solid red;
  border-left: 5px solid red;
  padding-left: 30px;
  padding-top: 30px;
}

.character-detail > div {
  display: flex;
  flex-direction: column;
  max-width: 800px;
}

.character-detail > div > div {
  height: 30%;
}

.character-detail > div > p:nth-child(2) {
  height: 15%;
  font-size: 30px;
  font-style: italic;
}

.character-detail > div > p:nth-child(3) {
  font-size: 20px;
  text-align: justify;
}

.details-comics {
  margin-top: 30px;
}

.details-comics > p {
  font-size: 30px;
}

.carroussel {
  margin-top: 10px;
  display: flex;
  gap: 10px;
  overflow: hidden;
  overflow-x: scroll;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.carroussel::-webkit-scrollbar {
  display: none;
}

.character-description {
  color: white;
}

/* COMICS PAGE */

.text-comic:hover {
  color: red;
}

.comic-title {
  padding: 200px 0px 50px 0px;
}
.comic-title h1 {
  color: black;
  font-size: 40px;
  text-align: center;
}

.list-comics {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
}

.comic-title-character h1 {
  color: black;
  font-size: 40px;
  text-align: center;
}
.comic-title-character {
  padding: 200px 0px 50px 0px;
  /* display: flex; */
  justify-content: center;
  gap: 50px;
}

.link-character {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.comic {
  display: flex;
  width: 600px;
  gap: 10px;
  border-radius: 10px;
  border-left: 5px solid black;
  border-top: 5px solid black;
  padding-top: 30px;
  padding-left: 30px;
}

.comic > div > p:nth-child(1) {
  height: 20%;
  font-size: 20px;
  font-weight: bold;
}

.comic > div > p:nth-child(2) {
  height: 10%;
  font-size: 20px;
  font-style: italic;
}

.comic > div > p:nth-child(3) {
  text-align: justify;
}
