/* CHARACTERS */
.characters-page {
  background-color: black;
  padding-bottom: 80px;
}

.character-title {
  padding: 200px 0px 50px 0px;
}
.character-title h1 {
  color: white;
  font-size: 40px;
  text-align: center;
}

.list-characters {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
}

.character {
  display: flex;
  width: 600px;
  gap: 20px;
  border-radius: 10px;
  border-left: 5px solid red;
  border-top: 5px solid red;
  padding-top: 30px;
  padding-left: 30px;
}

.character img {
  border-radius: 5px;
}

.character p {
  color: white;
}

.character-page p {
  color: white;
}

.character > div > p:nth-child(1) {
  height: 20%;
  font-size: 20px;
  font-weight: bold;
}

.character > div > p:nth-child(2) {
  height: 10%;
  font-size: 20px;
  font-style: italic;
}

.character > div > p:nth-child(3) {
  text-align: justify;
}

.col-right {
  position: relative;
}

.favoris-characters {
  position: absolute;
  height: 30px;
  width: 30px;
  background-color: white;
  top: 60px;
  left: 300px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
}

.favoris-comics {
  position: absolute;
  height: 30px;
  width: 30px;
  background-color: white;
  top: 85px;
  left: 220px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
}

.favoris-character {
  position: absolute;
  height: 30px;
  width: 30px;
  background-color: white;
  top: 0px;
  left: 1000px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
}
/* CHARACTER DETAIL */

.character-page {
  padding: 200px 0px 50px 0px;
  background-color: black;
  height: 100vh;
}

.character-detail {
  display: flex;
  gap: 50px;
  border-radius: 10px;
  border-top: 5px solid red;
  border-left: 5px solid red;
  padding-left: 30px;
  padding-top: 30px;
}

.character-detail > div {
  display: flex;
  flex-direction: column;
  max-width: 800px;
}

.character-detail > div > div {
  height: 30%;
}

.character-detail > div > p:nth-child(2) {
  height: 15%;
  font-size: 30px;
  font-style: italic;
}

.character-detail > div > p:nth-child(3) {
  font-size: 20px;
  text-align: justify;
}

.details-comics {
  margin-top: 30px;
}

.details-comics > p {
  font-size: 30px;
}

.carroussel {
  margin-top: 10px;
  display: flex;
  gap: 10px;
  overflow: hidden;
  overflow-x: scroll;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.carroussel::-webkit-scrollbar {
  display: none;
}

.character-description {
  color: white;
}
